.d11 {
    background: rgb(255, 234, 237);
    padding: 20px;
}
footer {
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
}
form{
    margin: 40px 0;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
header {
    background: burlywood;
    padding: 20px 0;
}
main {
    width: 940px;
    margin: 0 auto;
    

}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
table {
    margin: 20px;
}
td, th {
    border: 1px solid;
    padding: 8px 25px;
}
thead {
    background: lightgray;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.checkbox {
    margin: 20px;
}
.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}
.enviar {
    width: 50%;
    padding:15px 0;
    background-color: burlywood;
    color: darkblue;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
}
.enviar:hover {
    color: darkblue;
    font-size: 20px;
    background-color: #be4588;
    transition: 1s all;
    
}
.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao {
    font-size: 18px;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
.produtos li:hover {
    border-color: #C78C19;
}
.produtos li:hover h2 {
    font-size: 34px;
}
.produtos li:active {
    border-color: #088C19;    
}


.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

